.main-banner {
  background-image: url("/images/vskh-bg.jpg");
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    background: -webkit-linear-gradient(45deg, #000, gray, #fff 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
