.topMenu {
  height: 120px;
  background-color: transparent;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;

  .topMenuDiv {
    display: flex;
    align-items: center;
  }

  .spaceTitle {
    flex: 1;
  }

  .pageTitle {
    font-size: 36px;
    float: left;
    background: -webkit-linear-gradient(45deg, #ffffff, #000000 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pageAction {
    float: right;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: antiquewhite;
    }
  }

  .signInLink {
    padding-right: 10px;
  }

  .signUpLink {
    padding-left: 10px;
  }

  &.scroll {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      #575353 35%,
      #000 100%
    );
    // background-color: #575353;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: -70px;
    left: 0;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    height: 80px;
  }
}
